.text-title{
font-weight:bold;
font-size:17px;
}

.text-description{
font-size: 15px;
}

.fab{
background-color:'#2A9689'
}


.header{
backgroundColor:'#2A9689';
color:#fff;
}

.primary-background:{
background-color: #2A9689;
}

.no-shadow-button {
elevation: 0;
android-elevation: 0;          /* Android: removes shadow */
shadow-opacity: 0;      /* iOS: removes shadow */
shadow-radius: 0;
shadow-color: transparent;
shadow-offset: 0 0;
background-color: #E8FCF3;
}

input {
height: 50;
padding: 12;
font-size: 16;
background-color: white;
border-width: 1;
border-color: #022F2E;
border-radius: 10;
color: #022F2E;
}
.btn-primary {
background-color: black;
color: white;
font-weight: bold;
height: 50;
border-radius: 12;
font-size:15px;
}
.title {
font-size: 24;
font-weight: bold;
color: #022F2E;
margin-bottom: 8;
}